{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}
        {% endblock %}</title>
    {% load static %}
    <link href="{% static 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700'%}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>

<body>
    {% block content%}
    {% endblock %}

</body>

</html>